
.container {
	width:100%;
}

.header {
    background-color: yellow;

}

.header p {
    font-size: 38pt;
}

.pdf {
	max-width: 650px;
	margin: 0 auto;
	-webkit-box-shadow: 4px 4px 35px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 35px -9px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 35px -9px rgba(0,0,0,0.75);

}

input {
	margin-top:14px;
	width:300px
}
